# Ignore RStudio project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore input data and raw data directories
rawData/
# Ignore output data directories
outData/
outFigs/
outTable/
data_share/
# Ignore overview directory
overview/
# ignore all html files
process_iLand/*.html
# Ignore temporary commit message (appears to be a typo from a previous command)
#et --soft HEAD~1
compare_iLand_field_data.html
4_get_simulated_vegetation_stats.nb.html
prepare_data_country.nb.html
01_Jan
02_Feb
03_Mar
04_Apr
05_May
*.html
