# Ignore RStudio project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore input data and raw data directories
inData/
rawData/

# Ignore output data directories
outData/
outFigs/
outTable/

# Ignore overview directory
overview/

# Ignore temporary commit message (appears to be a typo from a previous command)
#et --soft HEAD~1